.originals {
  position: relative;
  min-height: 100vh;
  background-color: #c0d7dd;
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__title {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0e3a3d;
    width: min(92vw, 1100px);
    margin: 0;
    font-size: clamp(46px, 10vw, 80px);
    font-family: 'Bodoni';
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 0.95;
    text-transform: uppercase;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    font-family: 'Bodoni';
    color: #0e3a3d;
    margin-top: 50px;
    font-size: clamp(38px, 10vw, 64px);
    text-transform: uppercase;
  }
  &__canvases {
    display: flex;
    flex-direction: column;
    margin: 40px;
    &--title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Bodoni';
      color: #0e3a3d;
      text-transform: uppercase;
      font-size: clamp(40px, 8vw, 60px);
      font-weight: bold;
    }
  }
}
@media (max-width: 1050px) {
  .originals {
    position: relative;
    &__title {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: min(92vw, 1100px);
      margin: 0;
      font-size: clamp(20px, 8vw, 60px);
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
      line-height: 0.95;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 626px) {
  .originals {
    position: relative;
    &__title {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: min(92vw, 1100px);
      margin: 0;
      font-size: clamp(20px, 8vw, 60px);
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
      line-height: 0.95;
    }
    &__subtitle {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      font-size: clamp(20px, 8vw, 50px);
    }
  }
}
@media (max-width: 425px) {
  .originals {
    position: relative;
    &__title {
      position: absolute;
      top: 3%;
      left: 50%;
    }
  }
}
